<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div >
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Image</th>
              <th>Price</th>
              <th>Quantity</th>

              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
              <td >{{ item.price }}</td>
              <td >{{ item.quantity }}</td>
              <td>
                <button mat-button (click)="removeFromCart(item)" style="color: red">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length != 0">
  <div style="display: block;">
    <div class="card">
      <h3>Order Summary</h3>
      <div >
      <p><b>Total</b></p>
      <p><b>Shipping Fee</b></p>
      <p><b>Discount</b></p>
      <p><b>Grand Total</b></p>
      <button  class="btn btn-primary">Proceed to Checkout</button>
    </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h3 class="card-title">My Cart</h3>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button  class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>